.panBox{
    width : 100px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
.panThumb{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}



.colorBox{
    width: 360px;
    height: 100px;
    border: 1px solid #000;
}


.slider{
    position: relative;
    width: 300px;
    height: 10px;
    border-radius: 10px;
    background: #aaa;
    display: flex;
    align-items: center;
    border: 1px solid #666;
}
.slider::after{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background-color: #aaa;
}
.slider-thumb{
    display: block;
    width: 30px;
    height: 30px;
    cursor: grab;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    margin-left: -6px;
    text-shadow: 0 3px rgba(0,0,0,.3);
}

.inViewBoxContainer{
    width: 30%;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid black;
    
}

.inViewBox{
    width: 100px;
    height: 100px;
    background: #000;
    color: #fff;
    font-size: 48px;
    line-height: 100px;
    text-align: center;
}
.inViewBox + .inViewBox{
    margin-top: 200px;
}
