.wordContainer{
    display: flex;
    align-items: center;
    height: 48px;

}
.nameWord{
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
}

.customBox{
    width: 100px;
    height: 100px;
    background-color : #000;
    color: #fff;
}

